//Colors-used #12C47C as base color on https://palx.jxnblk.com/12C47C to get other colors and shades

$white: #ffffff;
$jet-black: #000000;

/*  greens Primary "green" */

$green: #27ae60;
$green-1: mix(white, $green, 80);
$green-2: mix(white, $green, 60);
$green-3: mix(white, $green, 40);
$green-4: mix(white, $green, 20);
$green-5: $green;
$green-6: mix(black, $green, 20);
$green-7: mix(black, $green, 40);
$green-8: mix(black, $green, 60);
$green-9: mix(black, $green, 80);

//greys
$grey: #a7b6ad;
$grey-0: #f8f9f9;
$grey-1: mix(white, $grey, 80);
$grey-2: mix(white, $grey, 60);
$grey-3: mix(white, $grey, 40);
$grey-4: mix(white, $grey, 20);
$grey-5: $grey;
$grey-6: mix(black, $grey, 20);
$grey-7: mix(black, $grey, 40);
$grey-8: mix(black, $grey, 50);
$grey-9: mix(black, $grey, 60);
$grey-10: mix(black, $grey, 70);
$grey-11: mix(black, $grey, 80);
$grey-12: mix(black, $grey, 90);

/* blues */
$blue: #3682ed;

$blue-1: mix(white, $blue, 80);
$blue-2: mix(white, $blue, 60);
$blue-3: mix(white, $blue, 40);
$blue-4: mix(white, $blue, 20);
$blue-5: $blue;
$blue-6: mix(black, $blue, 20);
$blue-7: mix(black, $blue, 40);
$blue-8: mix(black, $blue, 60);
$blue-9: mix(black, $blue, 80);

/* cyans */
$cyan-0: #e3f6f8;
$cyan-1: #c6edf0;
$cyan-2: #a4e2e8;
$cyan-3: #7dd6de;
$cyan-4: #4ec7d3;
$cyan-5: #12b5c4;
$cyan-6: #10a3b1;
$cyan-7: #0e8f9b;
$cyan-8: #0b7780;
$cyan-9: #08555c;

// yellows
$yellow-0: #f5f7e0;
$yellow-1: #eaeebe;
$yellow-2: #dfe59a;
$yellow-3: #d3db72;
$yellow-4: #c5d045;
$yellow-5: #b5c412;
$yellow-6: #a3b110;
$yellow-7: #8f9b0e;
$yellow-8: #77810b;
$yellow-9: #565d08;

$red-0: #f9eae9;
$red-1: #f3d4d1;
$red-2: #ecbab5;
$red-3: #e49a93;
$red-4: #d97066;
$red-5: #c42112;
$red-6: #b01d10;
$red-7: #9a1a0e;
$red-8: #7f150b;
$red-9: #5a0f08;

/* Hightlighter */
// $yellow-hl: #f0d461;
// $red-hl: #ef5b5b;
// $green-hl: #00d287;
// $blue-hl: #5183f5;
