.dark.container {
  background-color: $dark-background;
  color: $default-dark-color;
  a {
    color: $blue-4;
    &:hover {
      color: lighten($blue-4, 20%);
    }
    &:active {
      color: darken($blue-4, 20%);
    }
  }

  .header {
    .nav {
      .brand {
        a {
          color: $primary;
          &:hover {
            color: $green-5;
          }
          &:active {
            color: $green-8;
          }
        }
      }
    }
  }

  .main-grid {
    background-color: rgba($cyan-2, 0.2);
  }

  .upload-btn {
    label,
    button {
      .cloud-cover {
        background-color: $dark-background;
      }
    }
  }
}
