$max-canvas-width: 2000px;
$width: 1450px;
$header-height: 3.5rem;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Buttons */
$button: $teal-7;
$button-hover: $teal-6;
$button-active: $teal-9;
$border-width: 0.125rem;

:export {
  width: $width;
}

/* Loaders  */

$loader-color: #0052ec !default;
$loader-size: 56px !default;
$loader-height: 20px !default;
$loader-border-size: 8px !default;
$loader-gap: 12px !default;
$loader-animation-duration: 1s !default;
